.home{
    display: flex;
    background-image: url('../../../src//images//loginBackground.svg');
    background-repeat: no-repeat;
    width: 100%;
}
.app-title{
    width: 50%;
    height: 665px;
    margin-left: 80px;
   
}
.app-title h4{
    padding-top: 30%;
    color: white;
    font-size: 30px;
}
.app-title h1{
    color: white;
    font-size: 60px;
}
.auth{
    margin-top: 10%;
    margin-left: 150px;
}