.home{
    display: flex;
}

.app-title{
    width: 60%;
    height: 665px;
    text-align: center;
    background: linear-gradient(180deg, rgba(32, 51, 87, 0.82) 0%, rgba(73, 0, 107, 0.82) 100%);
   
}
.app-title h4{
    padding-top: 35%;
    color: white;
    font-size: 30px;
}
.app-title h1{
    color: white;
    font-size: 40px;
}
.auth{
    margin-top: 10%;
    margin-left: 100px;
}